.bg-alto-0 {
  background-color: $color-alto-0 !important;
}

.bg-alto-1 {
  background-color: $color-alto-1 !important;
}

.background-color-change {
  background-color: $color-rank-s;
}

.background-color-default {
  background-color: $color-light-1;
}
